<h1 mat-dialog-title>Please Enter the Customer Details</h1>
<div mat-dialog-content>
  <form [formGroup]="deleteCustomerForm">
    <mat-form-field appearance="outline">
      <mat-label>First Name</mat-label>
      <input formControlName="firstName" matInput placeholder="First Name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Last Name</mat-label>
      <input formControlName="lastName" matInput placeholder="Last Name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Email Address</mat-label>
      <input formControlName="emailId" matInput placeholder="email id " />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="delete_customer()">
    Delete Customer
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>Cancel</button>
</div>
