<div class="maincontent">
  <section class="intoduction">
    <div class="title">
      <p>INVENTORY MANAGEMENT SYSTEM</p>
    </div>
    <div class="intro">
      <p>
        An inventory management system is a piece of software used to track
        inventory items in a business and oversee all the processes involved in
        stock optimization. Any system’s bottom line goal is to ensure the right
        inventory is available, in the right amounts, at the right time - with
        as few manual tasks involved as possible. Although inventory can be
        described and classified in numerous ways, it’s ultimately its
        management that directly affects an organization’s order fulfillment
        capabilities.
      </p>
    </div>
  </section>
  <section class="benefits">
    <div class="secondary-heading">Benefits</div>
    <div class="benefits-list-container">
      <ul class="benefits-list">
        <li class="benefits-list-item">
          <mat-icon class="benefits-list-icon">check_circle_outline</mat-icon>
          Improves Cash Flow
        </li>
        <li class="benefits-list-item">
          <mat-icon class="benefits-list-icon">check_circle_outline</mat-icon>
          Reduces Stockouts
        </li>
        <li class="benefits-list-item">
          <mat-icon class="benefits-list-icon">check_circle_outline</mat-icon>
          Increases Customer Satisfaction
        </li>
        <li class="benefits-list-item">
          <mat-icon class="benefits-list-icon">check_circle_outline</mat-icon>
          Reduces Wasted Inventory
        </li>
      </ul>
      <ul class="benefits-list">
        <li class="benefits-list-item">
          <mat-icon class="benefits-list-icon">check_circle_outline</mat-icon>
          Reduces Project Delays
        </li>
        <li class="benefits-list-item">
          <mat-icon class="benefits-list-icon">check_circle_outline</mat-icon>
          Improves Pricing from Suppliers and Vendors
        </li>
        <li class="benefits-list-item">
          <mat-icon class="benefits-list-icon">check_circle_outline</mat-icon>
          Expands Your Understanding of the Business
        </li>
      </ul>
    </div>
  </section>
  <section class="developed-by">
    <div class="secondary-heading">Development Team</div>
    <div class="developed-by-container">
      <ul class="developed-by-list">
        <li class="developed-by-item">
          <mat-icon class="developed-by-icon"> label_important </mat-icon>
          Ravi Teja Lanka
        </li>
        <li class="developed-by-item">
          <mat-icon class="developed-by-icon"> label_important </mat-icon>
          Sai Kiran Madipadige
        </li>
        <li class="developed-by-item">
          <mat-icon class="developed-by-icon"> label_important </mat-icon>
          Surya Mandapati
        </li>
        <li class="developed-by-item">
          <mat-icon class="developed-by-icon"> label_important </mat-icon>
          Nithin Meela
        </li>
      </ul>
    </div>
  </section>
</div>
