<div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>New Order Request</h2>
        <form [formGroup]="addOrderForm" (ngSubmit)="addOrder()" > 
            <!-- -->
            <div class="form-group" >
            <label for="start">Order date:</label>
            <input type="date" id="order_date" formControlName="order_date">
             </div><br>
               <div class="form-group" >
                <label for="order_type">Select Order Type</label>
                <select class="form-control" #OrderType
                (change)='onOrderTypeSelected(OrderType.value)'formControlName="order_type" id="order_type" >
                  <option class="option" value="Customer" selected>Customer</option>
                  <option class="option" value="Supplier" >Supplier</option>
                </select>
              </div><br>
              <!-- Product list needs to be added here-->
              <div class="form-group" >
                <label for="order_by">Ordered By</label>
              <select class="form-control" formControlName="order_by" id="order_by" >
                <ng-container *ngIf="type_order=='Customer'">
                  <option *ngFor="let cust of customers" [value]="cust.customer_id" >{{cust.first_name}}</option>
                  </ng-container>
                  <ng-container *ngIf="type_order=='Supplier'">
                    <option *ngFor="let supp of suppliers" [value]="supp.supplier_id" >{{supp.name}}</option>
                    </ng-container>
              </select>
            </div><br>

                     <div class="form-group" >
                        <label for="quantity">Order Quantity</label>
                        <input type="text" id="quantity" formControlName="quantity">
                     </div><br>
                     <div class="form-group" >
                        <label for="discount">Discount</label>
                        <input type="text" id="discount" formControlName="discount">
                     </div><br>
                     <div class="form-group" >
                        <label for="payment_type">Select Payment Type</label>
                        <select class="form-control" formControlName="payment_type" id="order_type" >
                          <option value="card" >Card</option>
                          <option value="cash" >Cash</option>
                          <!-- <option value="outstanding" >Outstanding</option> -->
                        </select>
                      </div><br>
                    <div class="form-group" >
                       <label for="other_details">Other Details</label>
                       <textarea class="form-control" formControlName="other_details" id="other_details" rows="3"></textarea>
                    </div><br>
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary mb-2">Add</button>
                      </div>
          </form>
      </div>
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>

