<h1 mat-dialog-title>Please Enter the Order Details</h1>
<div mat-dialog-content>
  <form [formGroup]="deleteOrderForm">
    <mat-form-field appearance="outline">
      <mat-label>Order Id</mat-label>
      <input formControlName="order_Id" matInput placeholder="Order ID " />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Customer Id</mat-label>
      <input
        formControlName="customer_Id"
        matInput
        placeholder="Customer ID "
      />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Supplier Id</mat-label>
      <input formControlName="supplier_Id" matInput placeholder="Supplier ID" />
    </mat-form-field>

    <!-- <mat-form-field appearance="outline">
      <mat-label>Status</mat-label>

      <input formControlName="phone" matInput placeholder="Mobile Number " />
    </mat-form-field> -->

    <!-- <mat-form-field appearance="outline">
      <mat-select placeholder="Status">
        <mat-option>!</mat-option>
      </mat-select>
    </mat-form-field> -->
  </form>
</div>

<div mat-dialog-actions [align]="'end'">
  <button mat-raised-button color="primary" (click)="orderDelete()">
    Delete Order
  </button>
  <button
    id="deleteOrderFormCancel"
    mat-raised-button
    color="warn"
    mat-dialog-close
  >
    Cancel
  </button>
</div>
