.orders-container {
  height: 50rem;
  /* width: 90rem; */
  max-width: 97%;
  overflow: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.orders-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}

.orders-content {
  margin-top: 1.5rem;
}

.ordertypes {
  display: flex;
  gap: 1rem;
}

.Tabs {
  max-width: 100%;
}

.tabcontent {
  margin-top: 1rem;
  margin-left: 1rem;
}
