<div class="orders-container">
  <div class="orders-nav">
    <button id="add-order" mat-raised-button type="button" color="primary">
      Add Order
    </button>
    <button id="edit-order" mat-raised-button type="button" color="primary">
      Edit Order
    </button>
    <button id="delete-order" mat-raised-button type="button" color="primary">
      Delete Order
    </button>
  </div>
  <div class="orders-content">
    <mat-tab-group
      class="Tabs"
      mat-align-tabs="center"
      animationDuration="1000ms"
      backgroundColor="primary"
    >
      <mat-tab class="tab" label="Orders In Progress">
        <div class="tabcontent">
          <app-progressorders></app-progressorders>
        </div>
      </mat-tab>
      <mat-tab class="tab" label="Pending Orders">
        <div class="tabcontent">
          <app-pendingorders></app-pendingorders>
        </div>
      </mat-tab>
      <mat-tab class="tab" label="Outstanding Orders">
        <div class="tabcontent">
          <app-outstandingorders></app-outstandingorders>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
