.catprod-container {
  height: 50rem;
  width: 70rem;
  max-width: 100%;
  overflow: auto;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.catprod-nav {
  margin-top: 1rem;
  display: flex;
  justify-content: end;
  gap: 0.5rem;
}
