.sidenav-container {
  height: 100%;
}

.mat-sidenav {
  width: 200px;
  height: 100%;
  overflow: auto;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer{
  flex: 1 1 auto;
}
.card {
  max-width: 200px;
  place-items: center;
  padding-left: 100%;
  
}
.card:hover{
  box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.258)!important;
}