<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item routerLink="#">Menu</a> 
      <a mat-list-item routerLink="supplier-table">Supplier</a>
      <a mat-list-item routerLink="customer-table">Customer</a>
      <!-- <a mat-list-item >Company</a> -->
      <a mat-list-item routerLink="#">Products</a>
      <a mat-list-item routerLink="#">Services</a>
      <a mat-list-item routerLink="#">Reports</a>
      <a mat-list-item routerLink="#">Orders</a>
      <a mat-list-item routerLink="#">About</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div style="height: 88vh;"></div>
      <button mat-icon-button>
        <mat-icon (click)="sidenav.toggle();">menu</mat-icon>
      </button>
      <span><mat-icon><span class="material-icons-outlined">
        inventory_2
        </span></mat-icon> My Inventory</span>
        <div class="spacer">
        
        </div>
        <a mat-button routerLink="home" >Home</a>
        
         
      
        <a mat-raised-button routerLink="/login" color="accent">Logout</a>
        <!-- <a mat-button>About</a>
        <a mat-raised-button color="accent">Sign up</a> -->
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>

    <!-- <div fxLayout="row" fxLayoutAlign="space-around center" > -->
    <!-- <mat-grid-list cols="4" >
    <mat-grid-tile>
      
      <mat-card class="card">
        <img mat-card-image src="../assets/IMG1.jpeg" >
        <mat-card-title>Products</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/service.jpeg" >
        <mat-card-title>Services</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/Reports.jpeg" >
        <mat-card-title>Reports</mat-card-title>
        <mat-card-actions>
          
          
        </mat-card-actions>
      </mat-card> 
    </mat-grid-tile>
    <mat-grid-tile>

      <mat-card class="card">
        <img mat-card-image src="../assets/orders.png" >
        <mat-card-title>Orders</mat-card-title>
        <mat-card-actions>
        </mat-card-actions>
      </mat-card>  
    </mat-grid-tile>
  </mat-grid-list> -->
    <!-- </div> -->
  </mat-sidenav-content>
</mat-sidenav-container>
