<br><br><br>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Add new warehouse</h2>
        <form [formGroup]="addCategoryForm" (ngSubmit)="addCategory()">
            <div class="form-group">
              <label for="name"><h3>Category Name</h3></label>
              <input type="email" class="form-control" formControlName="name" id="name">
            </div><br><br>
            <div class="form-group" >
                <label for="warehouse_id"><h3>Select Warehouse</h3></label>
                <select class="form-control" formControlName="warehouse_id" id="warehouse_id" >
                  <option *ngFor="let warehouse of warehouses" value="{{warehouse.warehouse_id}}" >{{warehouse.name}}</option>
                </select>
              </div><br><br>
            <div class="form-group">
              <label for="description">Category Description</label>
              <textarea class="form-control" formControlName="description" id="description" rows="3"></textarea>
            </div><br><br>
            <button type="submit" class="btn btn-primary mb-2">Add Category</button>
          </form>
      </div>
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>

