.btn-primary {
  color: #ffffff;
}
.mat-card {
  max-width: 200px;
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 80%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 40%;
  page-break-inside: inherit;
}
.mat-card-title {
  padding-top: 50px;
  padding-left: 20px;
}
