<br><br><br>

<div class="container">
    <div class="row">
      <div class="col-sm">
        <h2>Add new warehouse</h2>
        <form>
            <div class="form-group">
              <label for="warehouseName"><h3>Warehouse Name</h3></label>
              <input type="email" class="form-control" id="warehouseName">
            </div><br><br>
            <div class="form-group">
              <label for="warehouseLocationSelect1"><h3>Warehouse Location</h3></label>
              <select class="form-control" id="warehouseLocationSelect1">
                <option>Texas</option>
                <option>California</option>
                <option>Florida</option>
                <option>New York</option>
                <option>Virginia</option>
              </select>
            </div><br><br>
            <div class="form-group">
                <label for="warehouseCapacity"><h3>Warehouse Capacity (in unit products)</h3></label>
                <input type="email" class="form-control" id="warehouseCapacity">
              </div><br><br>
            <div class="form-group">
              <label for="wareHouseDescription">Warehouse Description</label>
              <textarea class="form-control" id="wareHouseDescription" rows="3"></textarea>
            </div><br><br>
            <button type="submit" class="btn btn-primary mb-2">Add Warehouse</button>
          </form>
      </div>
      <div class="col-sm">
        
      </div>
      <div class="col-sm">
        
      </div>
    </div>
  </div>

