
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.spacer {
  flex: 1 1 auto;
}
.mat-card {
  max-width: 200px;
  object-fit: cover; /*this makes the image in src fit to the size specified below*/
  width: 80%; /* Here you can use wherever you want to specify the width and also the height of the <img>*/
  height: 60%;
  page-break-inside: inherit;
  cursor: pointer;
}
.mat-card:hover {
  box-shadow: 5px 10px 15px 1px rgba(0, 0, 0, 0.258) !important;
}
.icon-circle {
  padding: 5px;
  background: #3b5998;
  color: white;
  min-width: 45px;
  text-align: center;
}

.card {
  max-width: 400px;
  margin-bottom: 18px;
}
