<mat-grid-list cols="4">
  <mat-grid-tile routerLink="/products">
    <mat-card class="card" >
      <img mat-card-image src="../assets/products.jpeg" height="100%" width="100p%"/>
      <mat-card-content>
        <p>
          Product Categories
        </p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/warehouse" id="Services">
    <mat-card class="card">
      <img mat-card-image src="../assets/services.jpeg" height="100%" width="70%"/>
      <mat-card-content>
        <p>
          Warehouses
        </p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile routerLink="/reports" id="Reports">
    <mat-card class="card">
      <img mat-card-image src="../assets/Reports.jpeg" height="95%" width="100%"/>
      <mat-card-content>
        <p>
          Reports
        </p>
      </mat-card-content>
      <mat-card-actions> </mat-card-actions>
    </mat-card>
  </mat-grid-tile>
  <a routerLink="/orders">
    <mat-grid-tile id="Orders">
      <mat-card class="card">
        <img mat-card-image src="../assets/orders.png" height="100%" width="100%"/>
        <mat-card-content>
          <p>
            Orders
          </p>
        </mat-card-content>
        <mat-card-actions> </mat-card-actions>
      </mat-card>
    </mat-grid-tile>
  </a>
</mat-grid-list>
