<!-- Customer Component works -->
<div class="customer-container">
  <div class="customer-nav">
    <button
      id="add_customer"
      mat-raised-button
      color="primary"
      (click)="add_customer()"
    >
      Add Customer
    </button>
    <button
      id="delete_customer"
      mat-raised-button
      color="primary"
      (click)="delete_customer()"
    >
      Delete Customer
    </button>
    <button mat-raised-button color="primary" (click)="edit_customer()">
      Edit Customer
    </button>
  </div>
  <table class="table" mat-table [dataSource]="datasource">
    <!-- Supplier Id Column -->
    <ng-container matColumnDef="customerId">
      <th class="tbheader" mat-header-cell *matHeaderCellDef>Customer Id</th>
      <td class="tbdata" mat-cell *matCellDef="let element">
        {{ element.customer_id }}
      </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th class="tbheader" mat-header-cell *matHeaderCellDef>First Name</th>
      <td class="tbdata" mat-cell *matCellDef="let element">
        {{ element.first_name }}
      </td>
    </ng-container>
    <!-- <ng-container matColumnDef="name">
      <th class="tbheader" mat-header-cell *matHeaderCellDef>Last Name</th>
      <td class="tbdata" mat-cell *matCellDef="let element">
        {{ element.last_name }}
      </td>
    </ng-container> -->

    <!-- Address Column -->
    <ng-container matColumnDef="address">
      <th class="tbheader" mat-header-cell *matHeaderCellDef>Address</th>
      <td class="tbdata" mat-cell *matCellDef="let element">
        {{ element.address }}
      </td>
    </ng-container>

    <!-- Phone Number Column -->
    <ng-container matColumnDef="phone">
      <th class="tbheader" mat-header-cell *matHeaderCellDef>Phone Number</th>
      <td class="tbdata" mat-cell *matCellDef="let element">
        {{ element.phone }}
      </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th class="tbheader" mat-header-cell *matHeaderCellDef>Email</th>
      <td class="tbdata" mat-cell *matCellDef="let element">
        {{ element.email }}
      </td>
    </ng-container>

    <ng-container matColumnDef="otherDetails">
      <th class="tbheader" mat-header-cell *matHeaderCellDef></th>
      <td class="tbdata" mat-cell *matCellDef="let element">
        <button mat-raised-button (click)="viewOrders(element)">View Orders</button>
        <button mat-raised-button color="warn" (click)="deleteCustomer(element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
